<!DOCTYPE html>
<html lang="en">

<head>
    <title>Atlas Osteologia</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="metodosCarga.js"></script>

    <script src="imageMapResizer.js"></script>


    <link rel="stylesheet" href="./Public/bootstrap.css">

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3452fc;">
    <div class="container-fluid">

        <a class="navbar-brand" href="/">
            <img src="/ico/2icon.svg" width="60" height="60" class="d-inline-block align-top" alt="">
            Bibliotecas Interactivas UCE

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav" aling="right">
            <ul class="navbar-nav">
                <li class="nav-item active">

                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Generalidades">Generalidades</a>
                </li>

            </ul>



        </div>

    </div>
</nav>

















</html>