<!DOCTYPE html>
<html lang="en">

<head>
    <title>Atlas Osteologia</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg col-12 text-center px-0 mt-3">
            <div class="container-fluid" style="background-color: #0860A8;">
                <h5 class="navBar-font col-7 text-white my-3">Atlas virtual: Anatomía canina</h5>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
                    style="background-color: white;">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item mx-2">
                            <a class="nav-link active text-white " aria-current="page" href="/">Inicio</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link text-white " href="/huesos">Osteología</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link text-white " href="/organos">Órganos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div id="adobe-dc-view" style="height: 600px; width: 100;"></div>
            </div>
        </div>
    </div>

</body>
<script src="https://acrobatservices.adobe.com/view-sdk/viewer.js"></script>
<script type="text/javascript">
    document.addEventListener("adobe_dc_view_sdk.ready", function () {
        var adobeDCView = new AdobeDC.View({ clientId: "60f231a1137743dbae561959f0dac05e", divId: "adobe-dc-view" });
        adobeDCView.previewFile({
            content: {
                location:
                    { url: "http://atlascanino.uce.edu.ec/AtlasOsteologia" }
            },
            metaData: { fileName: "AtlasOsteologia.pdf" }
        },
            {
                embedMode: "SIZED_CONTAINER"
            });
    });
</script>
<style>
    body {
        background-color: black;
    }

    .btn:hover {
        background-color: #0860A8 !important;
        color: white;
    }

    .btn:active,
    .btn:focus {
        background-color: #0860A8 !important;
        color: white;
    }
</style>

</html>