<!DOCTYPE html>
<html lang="en">

<head>
    <title>Atlas Osteologia</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/metodosCarga.js"></script>

    <script src="/imageMapResizer.js"></script>


    <link rel="stylesheet" href="/bootstrap.css">

</head>

<body>


<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #6d6d6d; border-bottom-left-radius: 25px; border-bottom-right-radius: 25px;">
    <div class="container-fluid">
        <div class="row col-md-10 col-12 mx-auto">
        <div class="col-md-1 col-12 d-md-block d-none">
            <a class="navbar-brand">
                <img src="/ico/icon 2.png" width="60" height="60" class="d-inline-block align-top" alt="">
            </a>
        </div>
            <div class="col-6 m-auto d-md-block d-none">
                <p class="m-auto text-white h4 bold">UCE-VETERINARIA   </p>
                <p class=" m-auto text-white h5">Laboratorio de Anatomía de Medicina Veterinaria</p>
            </div>
            <div class="col-5 row d-md-block d-none m-auto">
            <div class="d-flex justify-content-end">
                <a class="nav-link h5 text-white" href="/">Inicio</a>
                <a class="nav-link h5 text-white" href="/huesos/Generalidades">Generalidades</a>
            </div>
            </div>
            <div class="col-md-5 col-12 row d-md-none d-block m-auto">
                <div class="d-flex justify-content-center">
                    <a class="navbar-brand" >
                        <img src="/ico/icon 2.png" width="60" height="60" class="d-inline-block align-top" alt="">
                    </a>
                    <a class="nav-link  text-white m-auto" href="/">Inicio</a>
                    <a class="nav-link  text-white m-auto" href="/huesos/Generalidades">Generalidades</a>
                </div>
            </div>
    </div>
    </div>
</nav>


<div class="container">
    <div class="row">


        <div class="col-sm-12" id="imageContainer">
            <img src="/ico/perro front.jpg" width="100%" height="auto" usemap="#image-map" class="map">
            <map name="image-map">

                <area target="" alt="" href="/huesos/Esqueleto Axial Cráneo"
                      coords="773,1653,833,1679,893,1673,966,1659,1058,1620,1238,1513,1344,1427,1390,1347,1463,1261,1523,1215,1530,1162,1483,1168,1457,1115,1483,1062,1550,1062,1623,1035,1662,943,1623,836,1596,710,1629,637,1550,591,1470,577,1417,604,1324,650,1211,710,1112,770,999,843,939,923,873,1095,820,1168,747,1261,700,1281,687,1361,647,1420"
                      shape="poly">

                <area target="" alt="" href="/huesos/Esqueleto Axial Vértebras Cervicales"
                      href=""
                      coords="1642,1035,1662,1095,1715,1102,1755,1075,1808,1142,1842,1188,1895,1201,1954,1274,1981,1308,2027,1321,2087,1374,2153,1367,2127,1407,2160,1447,2206,1487,2233,1553,2266,1560,2359,1487,2419,1420,2412,1354,2399,1288,2319,1347,2313,1288,2260,1235,2187,1221,2127,1142,2080,1142,2001,1069,1954,989,1875,896,1769,870,1802,982,1722,956,1715,896,1656,870"
                      shape="poly">

                <area target="" alt="" href="/huesos/Esqueleto Axial Vértebras Torácicas"
                      coords="2671,1407,2717,1361,2724,1440,2744,1480,2777,1414,2824,1434,2817,1493,2903,1427,2877,1547,2970,1447,3009,1467,2956,1586,2983,1640,3082,1467,3116,1493,3076,1646,3222,1480,3228,1527,3175,1626,3341,1474,3275,1640,3355,1586,3441,1513,3388,1620,3507,1520,3554,1480,3507,1633,3660,1487,3647,1580,3720,1500,3792,1606,3832,1487,3912,1620,3965,1620,3958,1493,4011,1553,4018,1600,4051,1686,3899,1706,3720,1659,3587,1659,3414,1659,3209,1686,3129,1686,2903,1679,2817,1746,2771,1746,2844,1653,2824,1547"
                      shape="poly">

                <area target="" alt="" href="/huesos/Esqueleto Axial Costillas y Esternón"
                      coords="2717,1805,2903,1686,3029,1666,3295,1659,3534,1659,3819,1679,3945,1739,4078,1978,4084,2124,3938,2257,3859,2443,3574,2575,3361,2622,3228,2602,2996,2516,2890,2483,2751,2429,2618,2363,2538,2317,2631,2230,2664,2051,2691,1898"
                      shape="poly">

                <area target="" alt="" href="/huesos/Esqueleto Axial Vértebras Lumbares"
                      coords="4005,1626,4084,1706,4124,1686,4184,1646,4230,1679,4211,1739,4297,1719,4350,1693,4363,1739,4443,1706,4509,1686,4489,1759,4569,1766,4622,1699,4629,1779,4722,1713,4748,1759,4814,1726,4814,1799,4947,1759,4901,1686,4907,1606,4841,1560,4775,1493,4775,1593,4708,1566,4675,1507,4629,1533,4595,1553,4496,1480,4503,1553,4410,1540,4343,1474,4317,1553,4184,1460,4171,1527,4084,1493,4038,1553"
                      shape="poly">

                <area target="" alt="" href="/huesos/Esqueleto Axial Sacro"
                      coords="5186,1613,5292,1600,5372,1613,5385,1659,5412,1719,5359,1752,5286,1746,5226,1693"
                      shape="poly">

                <area target="" alt="" href="/huesos/Miembro Pelviano Coxal"
                      coords="4941,1799,4907,1699,4927,1580,4994,1566,5093,1586,5140,1613,5213,1679,5272,1732,5385,1792,5498,1805,5571,1805,5697,1898,5803,1985,5790,2044,5724,2064,5564,2117,5518,2124,5544,2051,5617,2031,5624,1951,5511,1892,5438,1872,5372,1898,5365,2005,5385,2111,5272,2024,5206,1932,5146,1845,5027,1839"
                      shape="poly">

                <area target="" alt="" href="/huesos/Esqueleto Axial Vértebras Coccígeas"
                      coords="5458,1725,5478,1646,5558,1666,5611,1686,5704,1739,5810,1798,5909,1865,6009,1951,6049,2077,6075,2237,6115,2376,6148,2509,6181,2714,6274,2914,6381,3033,6447,3093,6546,3153,6387,3126,6188,2860,6122,2661,6082,2542,6035,2343,6022,2256,5956,2044,5923,1958,5843,1905,5657,1812,5564,1779"
                      shape="poly">


                <area target="" alt="" href="/huesos/Miembro Torácico Escápula"
                      coords="2253,2210,2313,2210,2445,2204,2498,2210,2498,2124,2518,2031,2605,1898,2704,1792,2817,1719,2844,1626,2824,1560,2684,1454,2611,1420,2512,1387,2445,1401,2352,1493,2266,1573,2233,1653,2200,1746,2206,1892,2260,1998,2260,2111"
                      shape="poly">

                <area target="" alt="" href="/huesos/Miembro Torácico Radio y Ulna"
                      coords="2724,3133,2771,3126,2830,3153,2897,3126,2963,3080,2996,3146,2717,3618,2605,3903,2578,4115,2479,4142,2439,4089,2498,3916,2605,3618,2691,3339,2704,3186"
                      shape="poly">

                <area target="" alt="" href="/huesos/Miembro Torácico Húmero"
                      coords="2273,2569,2193,2449,2187,2310,2226,2250,2313,2224,2459,2224,2452,2336,2432,2436,2505,2622,2684,2781,2764,2848,2883,2947,2930,3027,2930,3146,2824,3166,2744,3140,2744,3067,2764,3020,2737,2934,2625,2861,2485,2808,2392,2688"
                      shape="poly">

                <area target="" alt="" href="/huesos/Miembro Torácico Carpo"
                      coords="2406,4175,2452,4168,2498,4195,2552,4195,2611,4142,2512,4109,2479,4115,2406,4095"
                      shape="poly">
                      
                <area target="" alt="" href="/huesos/Miembro Torácico Metacarpos y Falanges"
                      coords="2379,4188,2459,4182,2498,4195,2439,4315,2386,4381,2319,4441,2313,4500,2293,4567,2187,4547,2100,4534,2114,4441,2200,4374,2273,4321"
                      shape="poly">

                <area target="" alt="" href="/huesos/Esqueleto Visceral- Os penis"
                      coords="4576,2721,4735,2655,4960,2582,4987,2609,4894,2655,4748,2695,4569,2768"
                      shape="poly">

                <area target="" alt="" href="/huesos/Miembro Pelviano Fémur"
                      coords="5372,2104,5379,2005,5379,1932,5398,1865,5491,1898,5558,1932,5631,1971,5571,2051,5511,2157,5372,2522,5405,2688,5485,2721,5498,2808,5432,2867,5352,2861,5259,2887,5166,2854,5146,2781,5206,2708,5226,2549,5292,2376,5332,2263"
                      shape="poly">

                <area target="" alt="" href="/huesos/Miembro Pelviano Tibia y Fíbula"
                      coords="5385,2987,5359,2901,5438,2854,5538,2794,5624,2848,5916,3352,6009,3472,6148,3611,6201,3677,6148,3750,6069,3737,5969,3611,5724,3319,5578,3160,5445,3060"
                      shape="poly">

                <area target="" alt="" href="/huesos/Miembro Pelviano Tarso y Metatarso"
                      coords="6082,3757,6135,3750,6215,3730,6235,3684,6181,3870,6168,3943,6188,4142,6221,4308,6122,4368,6115,4461,6049,4487,5916,4500,5929,4427,5982,4354,6108,4281,6108,4149,6108,3943,6089,3890"
                      shape="poly">


            </map>
        </div>
    </div>
</div>
<div style="background-color: #6d6d6d; border-top-left-radius: 25px; border-top-right-radius: 25px;" class="d-block d-md-none">
    <div class="col-12 m-auto text-center py-4">
        <p class="m-auto text-white h4 bold">UCE-VETERINARIA   </p>
        <p class=" m-auto text-white h5">Laboratorio de Anatomía de Medicina Veterinaria</p>
    </div>
</div>
</div>


<div style="background-color: #6d6d6d; border-top-left-radius: 25px; border-top-right-radius: 25px;" class="d-none d-md-block">
    <div class="container-fluid">
        <div class="row col-md-9 col-12 m-auto">
            <div class="col-md-6 col-12 row mx-auto mt-3">
                <div class="col-3 my-auto mx-0 d-flex justify-content-end">
                    <img src="/ico/icon 5.png" width="100">
                </div>
                <div class="col-9 text-left text-white m-auto">
                    <p class="font-weight-bold ">Autores:</p>
                    <p>Facultad Medicina Veterinaria y Zootecnia</p>
                        <p>Verónica Estefani Alvear Sandoval</p>
                        <p>MVZ. María del Carmen Revelo Cueva</p>
                </div>

            </div>
            <div class="col-md-6 col-12 row mx-auto mt-3">
                <div class="col-3 my-auto mx-0">
                    <img src="/ico/icon 6.png" width="100">
                </div>
                <div class="col-9 text-left text-white m-auto">
                    <p class="font-weight-bold ">Autores:</p>
                    <p>Facultad de Ingeniería y Ciencias Aplicadas</p>
                        <p>Bryan Sebastian Velasco Lopez</p>
                        <p>Ing. César Morales Mejía</p>
                </div>

            </div>
        </div>
    </div>
</div>
</body>

<style type="text/css">
    body {
        background-color: black;
    }
</style>

<script>
    imageMapResize();
</script>

</html>