<!DOCTYPE html>
<html lang="en">

<head>
    <title>Atlas Osteologia</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg col-12 text-center px-0 mt-3">
            <div class="container-fluid" style="background-color: #0860A8;">
                <h5 class="navBar-font col-7 text-white my-3">Atlas virtual: Anatomía canina</h5>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
                    style="background-color: white;">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item mx-2">
                            <a class="nav-link active text-white " aria-current="page" href="/">Inicio</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link text-white " href="/huesos">Osteología</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link text-white " href="/organos">Órganos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div>
        <div>
            <div class="row">
                <div class="col-md-4 col-12 text-md-end text-center m-auto">
                    <img src="/ico/icon 2.png" width="100" height="100"  alt="" class="m-auto">
                </div>
                <div class="col-md-8 col-12 text-left">
                <h1 class="text-white m-auto  d-md-block d-none my-5"> Universidad Central del Ecuador</h1>
                <h3 class="text-white m-auto text-center d-md-none d-block my-5"> Universidad Central del Ecuador</h3>
                </div>
                
            </div>
            <h3 class="text-white m-auto text-center my-3"> Laboratorio de Anatomía Veterinaria</h3>
            <h4 class="text-white m-auto text-center my-3"> Atlas Virtual de Anatomía Canina</h4>

        </div>
        <div class="row mx-5 px-5">
            <div class="col-md-5 col-12 my-4 mx-auto">
                <div class="card">
                    <h5 class="card-header text-center ">Osteología</h5>
                    <div class="card-body text-center">
                       <a href="/huesos" class="btn btn-dark"> Empezar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-12 my-4 mx-auto">
                <div class="card">
                    <h5 class="card-header text-center">Órganos sólidos</h5>
                    <div class="card-body text-center">
                        <a href="/organos" class="btn btn-dark"> Empezar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="text-center text-lg-start" style="background-color: #333333;">
        <div class="container-fluid p-4 col-lg-10 col-12 mx-auto">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0 mt-3">
                    <p> <small class="text-white text-left"><strong>
                              PROYECTO SENIOR CONV- DI – 2019- 026 -Docentes
                            </strong> </small> </p>
                            <ul>
                                <li><p><small class="text-white text-left"> Dr. César Guanoluisa Vargas MSc. -Investigador principal- Director</small></p></li>
                                <li><p><small class="text-white text-left"> Ing. Inf. César Morales Mejía MSc. -Investigador - Asociado 1</small></p></li>
                                <li><p><small class="text-white text-left"> MVZ  Mg. María del Carmen Revelo Cueva MSc. -Investigador- Asociado 2</small></p></li>
                               
                            </ul>
                </div>
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0 mt-3">
                    <p> <small class="text-white text-left"><strong>
                        PROYECTO SENIOR CONV- DI – 2019- 026 -Técnicos
                      </strong> </small> </p>
                            <ul>
                                <li><p><small class="text-white text-left"> Lcda. Ana Belén Toaquiza Salazar	 -Analista de laboratorio</small></p></li>
                                <li><p><small class="text-white text-left"> MVZ. Verónica Estefani Alvear Sandoval -Analista de digitalización</small></p></li>
                                <li><p><small class="text-white text-left"> Bryan Sebastian Velasco López	-Analista de programación y datos</small></p></li>
                            </ul>
                </div>
            </div>
        </div>
    </footer>

</body>
<script src="/control/control.js"></script>
<style>
    body {
        background-color: black;
    }

    .card {
        background-color: white;
    }

    .btn:hover {
        background-color: #0860A8 !important;
        color: white;
    }

    .btn:active,
    .btn:focus {
        background-color: #0860A8 !important;
        color: white;
    }

    .lds-ring {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }

    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;
    }

    .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
    }

    .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
    }

    .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
    }

    @keyframes lds-ring {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

</html>