<!DOCTYPE html>
<html lang="en">

<head>
    <title>Atlas Osteologia</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="metodosCarga.js"></script>

    <script src="imageMapResizer.js"></script>


    <link rel="stylesheet" href="bootstrap.css">

</head>

<body>



<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3452fc;">
    <div class="container-fluid">

        <a class="navbar-brand" href="/">
            <img src="/ico/2icon.svg" width="60" height="60" class="d-inline-block align-top" alt="">
            Bibliotecas Interactivas UCE

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav" aling="right">
            <ul class="navbar-nav">
                <li class="nav-item active">

                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Generalidades">Generalidades</a>
                </li>

            </ul>



        </div>

    </div>
</nav>








<footer  style="background-color: #3452fc;">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 text-center text-md-left ">

                <div class="py-0">
                    <p class="footer-links font-weight-bold">
                    <h3><center><img src="/ico/icon 2.png" width="100" height="100" id="uce"></center></h3>
                    <h3><center>Universidad Central del Ecuador</center></h3>


                    </p>
                    <p class="text-light py-4 mb-4">&copy;2019 bryvel-productions</p>
                </div>
            </div>

            <div class="col-md-4 text-white text-center text-md-left ">
                <div class="py-2 my-4">
                    <div>

                        <a><center><img src="/ico/icon 6.jpg" width="100" height="100" id="uce"></center></a>
                        <p> </p>
                        <a><center><img src="/ico/icon 5.png" width="100" height="100" id="uce"></center></a>

                    </div>
                </div>
            </div>

            <div class="col-md-4 text-white my-4 text-center text-md-left ">
                <span class=" font-weight-bold ">Autores:</span>
                <center><p>Facultad Medicina Veterinaria y Zootecnía</p></center>
                <ul>
                    <li>Verónica Estefani Alvear Sandoval</li>
                    <li>MVZ. María del Carmen Revelo Cueva</li>
                </ul>
                <center><p>Facultad de Ingeniería y Ciencias Aplicadas</p></center>
                <ul>
                    <li>Bryan Sebastian Velasco Lopez</li>
                    <li>Ing. César Morales Mejía</li>
                </ul>





            </div>
        </div>
    </div>
</footer>


<style type="text/css">
    body {
        background-color: black;
    }




</style>

<script>

    imageMapResize();


</script>

</html>