<!DOCTYPE html>
<html lang="en">

<head>
    <title>Atlas Osteologia</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg col-12 text-center px-0 mt-3">
            <div class="container-fluid" style="background-color: #0860A8;">
                <h5 class="navBar-font col-7 text-white my-3">Atlas virtual: Anatomía canina</h5>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item mx-2">
                            <a class="nav-link active text-white " aria-current="page" href="/">Inicio</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link text-white" href="#">Generalidades</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link text-white " href="#">Osteología</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link text-white " href="#">Órganos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div id="contenedorLamina">
            <h1 class="text-white text-center my-2">Órganos Sólidos</h1>
            <h2 class="text-white text-center mb-3">{{nombre}}</h2>
            <div class="row my-3 ">
                <div v-for="parte,index in partes" class="col-4 my-2  d-grid gap-2">
                    <button type="button" class="btn btn-block btn-light p-2 text-center" style="font-size: 13px; "
                        @click="_loadingImg(index)">{{parte}}</button>
                </div>
            </div>
            <div>
                <h3 class="text-center text-white my-4">{{nameLamina}}</h3>
            </div>
            <div class="row col-6 mx-auto text-center" v-if="modePanel">
                <div class="col-6">
                     <a href="#" style="color:#F2C94C" @click="_setMode('interactive')">Modo Vista Interactiva</a>
                </div>
                <div class="col-6">
                    <a href="#" style="color:#F2C94C " @click="_setMode('atlas')">Modo Vista Atlas</a>
                </div>

            </div>
            <div class="row justify-content-center" v-if="!laminaMode">
                <div class="col-12" id="imageContainer">
                    <div class="ratio" style="--bs-aspect-ratio: 80%;">
                        <iframe style="width: 100%; height: 100%;" :src="sourceLamina " id="contenedor"
                            style="border:none"></iframe>
                    </div>
                </div>
              
            </div>
            <div class="row justify-content-center" v-if="laminaMode">
                <div class="col-12" id="imageContainer">
                        <img style="height: auto; width: 100%;" :src="sourceAtlas">
                </div>
            </div>
            <div class="text-center col-8 mx-auto my-4" v-if="!laminaMode">
                <p class="text-white" style="border: white 1px solid; border-radius:5px"> Pasa tu cursor o toca una parte especifica del Organo para ver su nombre</p>
            </div>
        </div>
    </div>
    <footer class="text-center text-lg-start" style="background-color: #333333;">
        <div class="container-fluid p-4 col-lg-10 col-12 mx-auto">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-12 mb-4 mb-md-0 mt-3">
                    <p> <small class="text-white text-left"><strong>
                                Facultad Medicina Veterinaria y Zootecnia
                            </strong> </small> </p>
                    <p><small class="text-white text-left"><strong>
                                Autores:
                            </strong> </small></p>
                    <p><small class="text-white text-left"> · Verónica Estefani Alvear Sandoval</small></p>
                    <p><small class="text-white text-left"> · MVZ. María del Carmen Revelo Cueva</small></p>
                </div>
                <div class="col-lg-3 col-md-12 mb-4 mb-md-0 mt-3">
                    <p> <small class="text-white text-left"><strong>
                                Facultad Medicina Veterinaria y Zootecnia
                            </strong> </small> </p>
                    <p><small class="text-white text-left"><strong>
                                Autores:
                            </strong> </small></p>
                    <p><small class="text-white text-left"> · Bryan Sebastián Velasco Lopez</small></p>
                    <p><small class="text-white text-left"> · Ing. César Morales Mejía</small></p>
                </div>
                <div class="col-lg-3 col-md-12 mb-4 mb-md-0 mt-3 ">


                    <img src="/ico/icon 5.png" style="height: 100px;" class="mx-3">
                    <img src="/ico/icon 6.png" style="height: 100px;" class="mx-3">
                </div>
            </div>
        </div>
    </footer>

</body>
<script src="/control/control.js"></script>
<style>
    body {
        background-color: black;
    }

    .btn:hover {
        background-color: #0860A8 !important;
        color: white;
    }

    .btn:active,
    .btn:focus {
        background-color: #0860A8 !important;
        color: white;
    }
</style>
</html>