.st0{
    opacity:0 !important
}
.st0:hover{
    opacity:0.251 !important
}
body{
  background-color: black;
}
.point{
  opacity:1 !important
}

.line{
  opacity:0.40 !important
}

.description {
  pointer-events: none;
  position: absolute;
  font-size: 14px;
  text-align: center;
  background: rgba(255, 253, 253, 0.80);
  padding:  5px;
  z-index: 5;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #0860A8;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #eee;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: none;
}
.description.active {
  display: block;
}
.description:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
